@charset "utf-8";

*{
    box-sizing: border-box;
}


@media (min-width: 1200px){
 .liten {
        display: block;
    }
    .stor {
        display: none;
    }

}


@media (min-width: 1015px) and (max-width: 1199px){
    .liten {
        display: none;
    }
    .stor {
        display: block;
    }

}

@media (min-width: 875px) and (max-width: 1015px){
 .liten {
        display: none;
    }
    .stor {
        display: block;
    }

}


@media (max-width: 875px){
  .liten {
        display: none;
    }
    .stor {
        display: block;
    }
}


@media (max-width: 585px){
    .liten {
        display: none;
    }
    .stor {
        display: block;
    }
    
}


