@charset "utf-8";

*{
    box-sizing: border-box;
}



.main {
    width: 360;
    background-color: white;
    height: auto;
}

h4 {
    font-family: inherit;
    border-bottom: 1px solid black;
    border-bottom-style:groove;
   
    
}

.events {
    background-color: white;
}

.Event {
    border: 1px solid gray;
    display: flex;
    
    
}
.Bilder{
    width: 350px;
    margin: 3px auto auto 3px;
   
}

.text1{
    font-size: 20px;
    color: red;
    margin: auto auto auto 4px;
}

.name {
    font-size: 26px;
    width: 300px;
    margin: 3px auto auto 4px;
    font-family:fantasy;
}

.place {
    font-size: 20px;
    color: lightblue;
    width: 300px;
     margin: -10px auto auto 4px;
    border-left: 2px solid lightblue;
    
}

.Buy {
width: 100px;
    height: 60px;
    margin: 150px auto auto 0px;
    border: solid black;
    background-color: lightblue;
    cursor: pointer;
   
    
}

.one-texts {
    width: 250px;
}








@media only screen and (min-width:280px) and (max-width:320px){
    
    .main {
        width: 320px;
    }
    
    .Bilder {
        width: 310px;
    }
    
    .Buy {
         margin: 145px auto auto -10px;
        height: 45px;
        width: 70px;
        
    }
    
    h4 {
        font-size: 20px;
    }
    
   
}










@media only screen and (min-width:375px) and (max-width:760px){
    
    .main {
        width: 360px;
    }
    
    .Bilder {
        width: 352px;
    }
}










@media only screen and (min-width: 768px) {
    
    .main {
    width: 768;
    
        
  
}
    
    .Event {
    width: 45%;
    margin: 15px;     
    
}
    
    
    .Bilder{
    width: 335px;
    
   
}
    
    .Events {
        width: 768;
         display: flex;
        flex-wrap: wrap;
        flex-direction: row;
       
    }
    
    h4 {
        padding-left: 20px;
        font-size: 30px;
    }
    
    .Buy {
         margin: 149px auto auto -10px;
        width: 100px;
        height: 50px;
    }
    
    
}


@media only screen and (min-width: 1024px){
    
    .Event {
        width: 47%;
    }
    
    .Bilder {
        width: 470px;
    }
    
    .Buy {
         margin: 200px auto auto 90px;
        width: 130px;
        height: 60px;
        font-size: 20px;
    }
    
     h4 {
        padding-left: 20px;
        font-size: 30px;
    }
}







@media only screen and (min-width: 1026px) {
    
    .main {
        width: 100%;
    }
    
    .Event {
        width: 47%;
        margin: 18px;
        height: 400px;
    }
    
    .Bilder {
        width: 628px;
    }
    
    .Buy {
         margin: 270px auto auto 60px;
        width: 180px;
        height: 80px;
        font-size: 30px;
    }
    
    .text1 {
        font-size: 30px;
       
    }
    
    .one-texts {
    width: 350px;
    }
    
    .name {
        font-size: 38px;
        width: 350px;
    }
    
    .place {
        width: 350px;
        font-size: 30px;
    }
    
    h4 {
        font-size: 50px;
         border-bottom: 3px solid black;
    }  
}


  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body{
    font-family: 'Montserrat', sans-serif;
}




footer{
    width: 100%;
    text-align: center;
    color: white;
}

.footer1{
    background-color: rgb(0, 0, 0);
    padding: 10px 0;
}

.footer2{
    background-color: #262626;
    padding: 2vh 0;
}

li{
    list-style: none;
    display: inline-block;
    margin: 0 5vw ;
    font-size: 30px;   
}

.inovaLogo{
    font-family: 'Sansita', sans-serif;
    font-size: 4em;
    font-style: italic;
}

a{
    color: white;
}

i{
    color: white;
}














