@charset "utf-8";

*{
    box-sizing: border-box;
}

.pcMenyButton {
	color: #081449;
	   outline:none;
   background-color: white;
   display: inline-block;

}

.mobMenyButton {
  max-width: inherit;	
  background-color: gray;

  max-width: 5em;

}

.active {
	  background-color: rgb(18,45,167) !important;
	  color: white !important;
}

.mobMenyBarButton:hover  .mobMenyButton{
   	display: block;
	margin-left: inherit;

   width: inherit;
}
.mobMenyButton:hover {
   color: black;	
  background-color: white;
  cursor: pointer;
   width: inherit;
   	border-style: 2px solid blue;
   	max-width: 5em;	
}

.mobMenyBarButton {
	max-width: 5em;	
	border-style: 2px solid black;
}

.mobMenyBarButton  img{
 
	width: 5em;	
   background-color: rgb(8,20,73);
	
}

.mobMenyBarButton:hover  img{
   	display: block;
	margin-left: inherit;

 
	
	
}

.mobMenyButton {
	color: #081449;
	   outline:none;
   background-color: rgb(8,20,73);
   padding: 0.5em 0.5em 0.5em 0.5em;
   color:white;
   width: 2em;
   display: none;

}
@media (min-width: 1200px){
 .stor {
        display: block;
    }
    .liten {
        display: none;
    }

}


@media (min-width: 1015px) and (max-width: 1199px){
.stor {
           display: none;
    }
    .liten {
        display: block;
    }

}

@media (min-width: 875px) and (max-width: 1015px){
 .stor {
         display: none;
    }
    .liten {
        display: block;
    }

}


@media (max-width: 875px){
 .stor {
       display: none;
    }
    .liten {
        display: block;
    }
}


@media (max-width: 585px){
  .stor {
        display: none;
    }
    .liten {
        display: block;
    }
    
}


